:root {
  --color-blue-dark: #56b0ff;
  --color-blue: #add6fb;
  --black: #000000;
  --black-opacity-30: rgb(0, 0, 0, 0.3);
  --error: rgba(255, 0, 30, 1);
  --error-opacity-30: rgb(255, 0, 30, 0.3);
  --green-light: rgb(36, 219, 15, 0.3);
  --green: rgb(36, 219, 15);
}

.flagActive,
.countryNameActive {
  cursor: pointer;
  opacity: 1;
  transition: 0.2s;
}

.flagActive:hover {
  box-shadow: 0 0 6px 2px var(--black);
}

.countryNameActive:hover {
  box-shadow: 0 0 0 2px var(--black-opacity-30);
}

.countryNamePassive {
  cursor: auto;
  opacity: 1;
  box-shadow: 0 0 0 2px var(--black);
}

.wrongAttempt {
  animation: animateWrongAnswer 0.7s;
  animation-direction: alternate;
}

@keyframes animateWrongAnswer {
	0% {
		box-shadow: 0 0 0 3px var(--error-opacity-30);
	}
	50% {
		box-shadow: 0 0 0 10px var(--error);
	}
	100% {
		box-shadow: 0 0 0 3px var(--error-opacity-30);
	}
}

.rightAnswerAnimation {
  animation: animateRightAnswer 1s;
  animation-direction: alternate;
}

@keyframes animateRightAnswer {
	0% {
		box-shadow: 0 0 0 3px var(--green-light);
	}
	50% {
		box-shadow: 0 0 0 10px var(--green);
    opacity: 1;
	}
	100% {
		box-shadow: 0 0 0 3px var(--green-light);
    opacity: 0;
	}
}

